<!DOCtype html>

<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" type="text/css" src="style.css">

  <title>Weddly</title>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>

</head>
<body ng-app="images" >
  <div  ng-controller="imageController" >
  <h1>SCRAPBOOK</h1>
    <input ng-model="newImage"/>
    <button ng-click = "addImage()">Save</button>

    <hr>

    
    <div class="pictures" ng-repeat= "image in images track by $index" ng-click="removeImage($index)"><img ng-style="{height: 200+ 'px', width: 200 + 'px'}" ng-src="{{image}}">




    </div>



  </body>
  </html>